---
---

@import "{{ site.theme }}";


@font-face {
 font-family: "SpaceGrotesk Regular";
 src: url("../webfonts/SpaceGrotesk-Regular.woff2") format("woff2"),
        url("../webfonts/SpaceGrotesk-Regular.woff") format("woff");
}

body {
	font-family: "SpaceGrotesk Regular";
}